* {
    margin: 0;
    padding: 0;
  }
  body{
    /* display: flex; */
    height: 100%;
    --font-family-sans-serif: "Poppins", sans-serif;
    /* --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  
  }
  .right{
    width: 100%;
    /* background-color: #2b2b2b; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form {
    margin: 10px;
    position: relative;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 7px 7px lightgrey;
    padding: 0 8em ;
    box-sizing: border-box;
  }
  form:after {
    position: absolute;
    width: 1em;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #C69E63;
  }
  
  label {
    width: 100%;
    font-size: 16px;
  }
  .formHeader {
    margin: 30px;
    color: #C69E63;
    font-size: 2em;
  }
.btnAdd{
    float: right;
}