/* Optional: Highlight the row on hover */
tr:hover {
    cursor: pointer;
    background-color: #f1a23b;
}


/* Optional: Add padding to the expanded content */
.details {
    color: black;
    padding: 10px;
    background-color: #f1a23b;
    border-radius: 5px;
}